/* BlurSection.css */
.blur-section-container {
  padding: 0 50px;
  margin-top: 50px;
  padding-bottom: 50px;
  background-image: url(../../assets/Elipse.svg);
  background-size: cover;
  background-position: center;
  height: 200vh;
}

.Boxes {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 80px 50px;
  gap: 50px;
  align-items: flex-start;
  justify-content: space-between;
}
.first-box-section {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
  gap: 20px;
}
.first-box-section h1 {
  position: relative;
  left: -160px;
  width: 60%;
  color: #fff;
  font-family: Gotham;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.span-tech {
  color: #136192;
}
.second-box-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.second-box-section p {
  color: #fff;
  font-family: Inter;
  font-size: 40.406px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
  margin-right: 20px;
}
.third-box-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.third-box-section p {
  color: #fff;
  font-family: Inter;
  font-size: 40.406px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 50%;
  margin-left: 20px;
}
.blur-section-container h3 {
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 51.7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
