.who__Sec {
  padding: 0 80px;
}

.wh__Ttl h2 {
  font-family: Gotham;
  font-size: 84px;
  font-weight: 400;
  line-height: 101px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5rem;
}

.wrapper-resizer {
  margin-top: 200px;
}

.resize-container {
  display: flex;
  /* height: 100vh; */
  width: 100%;
  gap: 60px;
  position: relative;
}

.resizeList {
  flex: .5;
  overflow: hidden;
  transition: flex 0.5s ease;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.rsz__Cnt {
  position: relative;
  height: 20vh;
}

.rsz__Cnt h4 {
  font-family: Gotham;
  font-size: 43px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 30px;
}

.rsz__Cnt h3 {
  font-family: 'Gotham';
  font-size: 19px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 80px;
}

.rsz__Cnt p {
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 110px;
}

.resize-container::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cccccc;
}

.clr__Blt {
  width: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.clr__Blt span {
  width: 10px;
  height: 10px;
  background: #F79D1D;
  border-radius: 100%;
}

.wh_kn {
  margin-top: 40px;
  display: flex;
  justify-content: end;
}

/* .wh_kn button {
  font-family: Gotham;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  border: none;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.ar_img {
  width: 26px;
  height: 26px;
  border: 1px solid #F79D1D;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ar_img i {
  color: #F79D1D;
  font-size: 15px;
} */

/* .resizeList h2 {
  color: #000;
  font-family: Gotham;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
} */

/* .resizeList p {
  color: #000;
  font-family: Gotham;
  font-size: 12.389px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
} */

/* .resizeList img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} */

.rsz__Img {
  width: 937px;
  height: 543px;
  /* width: 100%;
  height: 543px; */
}

.rsz__Img img {
  width: 100%;
  object-fit: cover;
}

.resizeList.active {
  flex: 2;
}

/* .resizeList.active .rsz__Cnt p{
  font-size: 20px;
} */


@media only screen and (max-width: 1680px) {
  .who__Sec {
    padding: 0 40px;
  }

  .wrapper-resizer {
    margin-top: 140px;
  }

  .wh__Ttl h2 {
    font-size: 55px;
    line-height: 75px;
    margin-bottom: 3rem;
  }

  .rsz__Cnt {
    height: 21vh;
  }

  .rsz__Cnt h4 {
    font-size: 26px;
    top: 20px;
  }

  .rsz__Cnt h3 {
    font-size: 14px;
    top: 50px;
  }

  .rsz__Cnt p {
    font-size: 15px;
    line-height: 25px;
    top: 70px;
  }

  .clr__Blt {
    width: 35px;
  }

  .clr__Blt span {
    width: 8px;
    height: 8px;
  }

  .resize-container {
    gap: 40px;
  }

  .rsz__Img {
    width: 637px;
    height: 343px;
  }
}

@media only screen and (max-width: 1200px) {
  .rsz__Cnt {
    height: 30vh;
  }

  .rsz__Img {
    width: 437px;
    height: 243px;
  }
}

@media only screen and (max-width: 991px) {
  .who__Sec {
    padding: 0 20px;
  }

  .wrapper-resizer {
    margin-top: 80px;
  }

  .rsz__Img {
    width: 383px;
    height: 222px;
  }

  .rsz__Cnt {
    height: 16vh;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper-resizer {
    margin-top: 60px;
  }

  .wh__Ttl h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 2rem;
  }

  .wh__Ttl h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 2rem;
  }

  .rsz__Img {
    width: 158px;
    height: 101px;
  }

  .clr__Blt {
    width: 20px;
  }

  .rsz__Cnt h4 {
    font-size: 15px;
    top: 15px;
  }

  .rsz__Cnt h3 {
    font-size: 12px;
    top: 40px;
  }

  .rsz__Cnt p {
    font-size: 12px;
    line-height: 18px;
    top: 60px;
  }

  .clr__Blt span {
    width: 5px;
    height: 5px;
  }

  .resize-container::before {
    top: 2px;
    height: 1px;
  }

  .resize-container {
    gap: 20px;
  }

  .rsz__Img img {
    width: 100%;
    height: 100%;
  }
}